*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.tags*

# Project exclude paths
/common/build/
/common/build/intermediates/javac/debug/classes/